<div>
  <h1 class="center">Battleship</h1>
  <div id="gameBoard" class="gameBoardMasterView">
    <div id="selfView" class="boardView">
      <ul>
        <li ng-repeat="row in playerBoard">
          <ul>
            <li ng-repeat="piece in row track by $index">
              <div class="gamePiece" ng-class="piece.state === null ? 'white' : piece.state ? 'red' : 'black'" ng-click="handlePieceClick(piece)"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="opponentView" class="boardView">
      <ul>
        <li ng-repeat="row in opponentBoard">
          <ul>
            <li ng-repeat="piece in row track by $index">
              <div class="gamePiece" ng-class="piece.state === null ? 'white' : piece.state ? 'green' : 'red'" ng-click="handlePieceClick(piece)"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <h3>{{ gameplayMessage }}<h3>
  </div>
</div>
